
body{
    max-width:1000px;
    min-width: 380px;
    margin:0 auto;
}
.topnav {
    background-color:gold;
    overflow:hidden;
    max-width: 1000px;
}
.topnav a{
    float:left;
    color: black;
    padding:1rem;
    text-decoration: none;
    font-family: "Alike Angular";
    font-size: 17px;
}
.rightlinks{
    float:right;
}

.dropdown{
    
    float:right;
    border:none;
    outline:none;
    color: black;
    background-color: gold;
    padding:1rem;
    font-family: "Alike Angular";
    font-size: 17px;
    margin:0;
}
.drop-content{
    display:none;
    position:absolute;
    align-content: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}
.dropdown:hover .drop-content{
    display:block;
}

.topimage{
    display:block;
    width: 100%;
    height: 100%;
}
.mobileheader{
    display:none;
}
.container {
    background-color:gold;
    display: grid;
    justify-items: center;
    grid-template-columns: .50fr .50fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 1000px;
}
.grid-one{
    grid-column: 1;
    grid-row: 1 / 3;
}
.grid-two{
    padding:1rem;
    grid-column: 2 / 4;
    grid-row:2;
}
#aboutselfie{
    width:20rem;
    margin:1rem;
    padding:1rem;
}
.malcolmfont{
    color: white;
    font-size: 5rem;
    font-family:coolvetica;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    transform: translateX(250px)translateY(-300px);
  }

.topnav a:hover{
    background-color: white;
    border-bottom-color:gold;
}

h1 {
    font-family: coolvetica;   
}
@media (max-width:780px){

    .container{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: gold;
        justify-items: center;
    }
    .grid-one{
        padding:0;
        margin:0;
    }
    .grid-two{
        grid-column: 1;
        grid-row: 3;
    }
    .malcolmfont{
        position: absolute;
        transform: translateX(75px)translateY(-100px);
        font-size: 6.25rem;
    }
    
}
@media (max-width: 500px){
    .topimage{
        display:none;
    }
    .mobileheader{
        width:100%;
        display:block;
    }
    .topnav a{
        font-size: 15px;
        padding: 1rem .5rem 1rem .5rem;
    }
}